aniso8601==8.0.0
astroid==2.3.3
attrs==19.3.0
Click==7.0
colorama==0.4.3
Flask==1.1.1
flask-redis==0.4.0
Flask-RESTful==0.3.7
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jsonmerge==1.7.0
jsonschema==3.2.0
lazy-object-proxy==1.4.3
ldap3==2.6.1
lru-cache==0.2.3
MarkupSafe==1.1.1
mccabe==0.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.4.4
pyrsistent==0.15.7
pytz==2019.3
redis==3.4.1
six==1.14.0
Werkzeug==0.16.0
wrapt==1.11.2
wsl==0.12
